/*8-6-25 -- GEORGE POELCHER III -- GIT 414 -- PROF. STORM*/
/*THIS FILE IS FOR EDUCATIONAL PURPOSES ONLY*/
@import url(https://fonts.google.com/share?selection.family=Molle:ital@1%7CMontserrat);

:root{
    /*COLORS*/
    --yellow: #f6d64a;
    --teal: #55bcd5;
    --purple: #9b26b0;
    --blue: #499bd2;
    --dark-gray: #222222;
    --light-gray: #eaeaea;
    --white: #ffffff;
    --black: #000000;

    /*TYPOGRAPHY*/
    --heading: "Molle", sans-serif;
    --body-text: "Montserrat", serif;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*GLOBAL STYLES START*/

/*GLOBAL VARIABLE FONTS*/
h1, h2, h3{
    font-family: var(--heading);
}

h4, p, q, small, nav, button, form, footer a, input, select, .form-required{
    font-family: var(--body-text);
}

h1, h2, h3, h4, p{
    padding: 0 30px;
}

h1{
    font-size: 4rem;
}

h2{
    font-size: 3rem;
}

h3{
    font-size: 2rem;
    margin-bottom: 30px;
}

h4{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.5rem;
}

.sr-only{
    position:absolute;
    left:-10000px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
}

body{
    line-height: 1.5;
}

/* skip link styles from: https://webaim.org/techniques/css/invisiblecontent/ */
#skip{
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
 
#skip:focus{
  position: static;
  width: auto;
  height: auto;
}

/*HEADER STYLES*/
header{
    background-image: linear-gradient(var(--teal), var(--white));
    margin-bottom: 60px;
}

header img{
    margin-top: 10px;
}

h1 + p{
    width: 25ch;
    font-size: 1.15rem;
}

/*MOBILE MENU STYLES*/
#toggle{
    display: none;
}

#menu-toggle label{
    text-transform: uppercase;
    font-weight: bold;
    background-color: var(--yellow);
    width: 200px;
    padding: 15px 0;
    position: absolute;
    right: 0px;
    top: 40px;
    text-align: center;
    cursor: pointer;
}

nav ul a{
    text-decoration: none;
    text-transform: uppercase;
    color: var(--black);
    font-weight: bold;
}

nav ul li{
    background-color: var(--teal);
    border: 1px solid var(--black);
    text-align: center;
    padding: 40px;
    cursor: pointer;
}

nav ul{
    position: absolute;
    right: -10000px;
    top: auto;
    overflow: hidden;
}

#toggle:checked ~ label{
    background-color: var(--black);
    color: var(--white);
    display: block;
    width: 100%;
    padding: 15px 0;
    top: 0px;
    right: 0px;
}

#toggle:checked ~ ul{
    position: absolute;
    top:52px;
    right: 0px;
    height: auto;
    width: 100%;
}

#menu-toggle:has(#toggle:checked){
    background-color: var(--white);
    height: 100vh;
}

/* #INTRO STYLES */
#intro{
    background-color: var(--white);
    margin-bottom: 10px;
}

#intro p{
    line-height: 1.75;
    margin-bottom: 10px;
}

#intro img{
    width: 100%;
    margin: 10px 0;
}

#intro #img-grid{
    display: flex;
    flex-direction: column;
}

/* #PLAN STYLES*/
#plan{
    background-color: var(--yellow);
    padding: 30px 0;
}

#plan h3{
    margin-bottom: 20px;
}

#plan div{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 15px;
}

#plan section{
    background-color: var(--teal);
    border: 4px solid var(--white);
    border-radius: 10px;
    margin: auto;
    width: 325px;
    height: 300px;
    display: grid;
    align-items: center;
    text-align: center;
}

/* #TESTIMONIALS STYLES*/
#testimonials{
    background-color: var(--white);
    padding: 50px 0;
}

#testimonials div{
    display: flex;
    flex-direction: column;
}

#testimonials section{
    text-align: center;
    max-width: 30ch;
    margin-bottom: 20px;
    align-self: center;
}

#testimonials q{
    font-style: italic;
}

/* #ABOUT STYLES */
#about{
    background-color: var(--blue);
    padding: 25px 0;
    margin: 0 auto;
}

#about div{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin: 0 50px;
    gap: 10px;
}

#about section{
    text-align: center;
}

#about img{
    width: 125px;
    height: 125px;
}

/* #CONTACT STYLES */
#contact{
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    padding: 25px 0;
}

.form-required{
    font-style: italic;
    font-size: 1.15rem;
}

/* FORM STYLES FOR CONTACT */
form{
    margin: 0 10%;
}

form, form div{
    display: flex;
    flex-direction: column;
}

form div input:not([type^=radio]), select{
    height: 50px;
    font-size: 1.15rem;
    padding-left: 10px;
}

/*I used the dev tools here to see that the inputs were actually 58px high, so I overwrote it here to make them the same height*/
select{
    height: 58px;
}

label:not(.raido-label), legend{
    text-transform: uppercase;
    font-weight: bold;
}

.required{
    font-weight: normal;
    color: var(--purple);
}

input:not([type^=submit]), select{
    border: 3px solid var(--purple);
}

input[type^=radio]{
    accent-color: var(--purple);
    transform: scale(3.5);
    margin: 30px 20px;
}

input[type^=radio]::after{
    height: 50px;
    width: 50px;
}

fieldset{
    display: grid;
}

.radio-label{
    font-weight: normal;
    text-transform: none;
    margin-left: 10px;
}

[type^=radio], select, [type^=submit]{
    cursor: pointer;
}

[type^=submit]{
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    background-color: var(--purple);
    color: var(--white);
    margin-top: 10px;
}

form input:not(fieldset input), fieldset, .custom-select{
    margin-bottom: 20px;
}

/* FOOTER STYLES */
footer{
    background-color: var(--light-gray);
    text-align: center;
    padding: 30px;
    display: flex;
    flex-direction: column;
}

footer p{
    margin-bottom: 10px;
}

footer a{
    text-decoration: none;
    color: var(--black);
    margin: 10px 0;
}

/* MEDIUM BREAKPOINT */
@media (min-width: 768px){
    #menu-toggle label{
        display: none;
    }

    nav ul{
        position: relative;
        top: 0;
        left: 0;
        overflow: visible;
        display: flex;
        justify-content: space-evenly;
    }

    nav ul li{
        border: none;
        background-color: var(--white);
        padding: 0px;
        display: inline-block;
        width: 180px;
        height: 45px;
        align-content: center;
    }

    .active{
        background-color: var(--yellow);
    }

    footer{
        flex-direction: row;
        padding: 10px;
        justify-content: center;
        align-items: center;
    }
}

/*LARGE BREAKPOINT*/
@media (min-width: 1380px){

}